.news{
    width: 100%;
    text-align: left;
}
.news .text-aria{
    width: 70%;
}
.person{
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
.person img{
    margin-right: 10px;
    width: 5%;
    border-radius: 50px;
}
@media only screen and (max-width: 1000px) {
    .news .text-aria{
        width: 90%;
    }
    .person img{
        /* margin-right: 10px; */
        width: 10%;
        /* border-radius: 29px; */
    }
}
@media only screen and (max-width: 600px) {
    .person img{
        /* margin-right: 10px; */
        width: 10%;
        /* border-radius: 29px; */
    }
}